/*.container {
	width: 1200px;
	padding: 15px 0;
	margin: 0 auto;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrap {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 110px);
}
.content__wrap {
  flex: 5;
}
.btn {
  padding: 5px 15px;
  color: #fff;
  border: none;
  background: #69c;
  border-radius: 3px;
  transition: .3s;
  cursor: pointer;
  border: 1px solid #69c;
}
.btn[disabled] {
  background: #bab3b2;
  border: 1px solid #bab3b2;
}
.btn[disabled]:hover {
  background: #bab3b2;
  border: 1px solid #bab3b2;
  color: white;
}
.btn:hover {
  background: white;
  color: #69c;
}
.pageTitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

/*dialogsPage - messages*/
.fromInterlocutor {
  justify-content: flex-end;
}
.fromInterlocutor div:first-child {
  order: 2;
  margin-right: 0;
  margin-left: 20px;
}

/*Preloader*/
.preloader__wrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  opacity: .4;
}
.preloader__wrap img {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-right: -50px;
}

/*Error-message*/
.error__message {
  color: red;
  border: 1px solid red;
  padding: 5px 10px;
  display: inline-block;
}